<ion-view title="Assegnazione codici" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="assegnazioneCodici-list10">
      <ion-item class="item-icon-left assertive" id="assegnazioneCodici-list-item17">
        <i class="icon ion-record"></i>Codice rosso</ion-item>
      <div class="item item-body" id="assegnazioneCodici-list-item-container5">
        <div id="assegnazioneCodici-markdown13">
          <p style="margin-top:0px;color:#000000;">Molto critico, pericolo di vita, priorità assoluta, accesso
            <strong>immediato</strong> alle cure e intervento tempestivo</p>
        </div>
      </div>
      <ion-item class="item-icon-left energized" id="assegnazioneCodici-list-item16">
        <i class="icon ion-record"></i>Codice giallo</ion-item>
      <div class="item item-body" id="assegnazioneCodici-list-item-container7">
        <div id="assegnazioneCodici-markdown16">
          <p style="margin-top:0px;color:#000000;">Mediamente critico, presenza di rischio evolutivo, possibile pericolo di vita</p>
        </div>
      </div>
      <ion-item class="item-icon-left balanced" id="assegnazioneCodici-list-item13">
        <i class="icon ion-record"></i>Codice verde</ion-item>
      <div class="item item-body" id="assegnazioneCodici-list-item-container8">
        <div id="assegnazioneCodici-markdown17">
          <p style="margin-top:0px;color:#000000;">Poco critico, assenza di rischi evolutivi e di pericolo di vita, prestazioni differibili</p>
        </div>
      </div>
      <ion-item class="item-icon-left dark" id="assegnazioneCodici-list-item18">
        <i class="icon ion-record"></i>Codice bianco</ion-item>
      <div class="item item-body" id="assegnazioneCodici-list-item-container9">
        <div id="assegnazioneCodici-markdown19">
          <p style="margin-top:0px;color:#000000;">Non critico, pazienti non urgenti, possono essere visitati dal medico di medicina generale e tali prestazioni sono soggette a pagamento ticket</p>
        </div>
        <a ui-sref="pagamentoCodiciBianchi" id="assegnazioneCodici-button1" class="button button-dark button-block button-outline icon-left ion-information-circled">Informazioni pagamento ticket</a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>