<ion-view title="In attesa della visita" id="info_inattesa">
    <ion-content 
        padding="true" 
        class="has-header" 
        style="font-size: larger; text-align: justify;">

        <div class="vademecum">
            
            <h3>Il triage</h3>
            <p>
                All'arrivo in Pronto Soccorso, tutti i pazienti, eccetto i pazienti
                con massima urgenza (codice rosso) vengono valutati dagli infermieri
                professionali di triage. 
            </p>
            <p>
                In base alla storia clinica, ai sintomi riferiti e ai parametri
                vitali rilevati, verranno assegnati un box di riferimento e un 
                <a href="#" ui-sref="assegnazioneCodici" class="badge badge-positive a-noline"><i class="ion-ios-arrow-right"></i> codice di triage</a>. 
                Il codice di triage serve a stabilire il grado di <b>urgenza</b>
                con cui un paziente deve entrare in sala visita.
            </p>
            
            <!-------------------------------------------->
            <h3>Perché non viene seguito l'ordine di arrivo?</h3>
            <p>
                Il numero assegnato in triage serve solo ad identificare i pazienti
                in attesa, ma non determina l'ordine di accesso alla sala visita:
                <span class='vademecum-list'>
                    - prima di tutto, perché i pazienti vengono destinati a
                    diversi box a seconda del problema presentato (medico, 
                    chirurgico, ortopedico, ginecologico, bassa intensità).<br>
                    - in secondo luogo perché relativamente ad un determinato box, 
                    i pazienti entrano in base al codice di priorità assegnato 
                    in triage
                   
                </span>
            </p>
            
            <!-------------------------------------------->
            
            <h3>Come mai alcune persone entrano prima di altre?</h3>
            <p>
                Può capitare che delle persone anziane, con numerose patologie, 
                debbano aspettare più tempo di persone più giovani e apparentemente
                meno fragili.
            </p>    
            <p>
                Quando questo accade, è perché l'ordine di accesso alla visita
                non viene stabilito dalla sola complessità del caso clinico. Può 
                accadere che, nonostante un apparente migliore stato di salute, 
                un paziente presenti dei caratteri di <strong>instabilità</strong>,
                per cui si rende necessario effettuare visita e accertamenti
                in tempi più brevi.
            </p>
            <p>
                <span class="assertive">
                    <strong>Se state aspettando è perché qualcuno sta peggio di voi</strong>
                </span>
            </p>
            
            <!-------------------------------------------->
            <h3>Rivalutazione</h3>
            <p>
                I pazienti in attesa, soprattutto quando tenuti in osservazione
                nella stanza dietro al triage, vengono periodicamente rivalutati
                dagli infermieri, che, in caso di variazioni dei parametri, 
                provvederanno a modificare il codice di priorità.
            </p>
            <p>
                In alcuni casi viene effettuato un prelievo di sangue contestualmente
                alla registrazione in triage, per abbreviare i tempi e per meglio
                definire il quadro clinico. Gli infermieri di triage prenderanno
                visione dei risultati degli esami di laboratorio appena disponibili
                e, se necessario modificheranno il codice di priorità. 
            </p>
            
            <!-------------------------------------------->
            <h3>Quanto tempo ci vorrà prima di essere chiamati in visita?</h3>
            <p>
                Per quanto detto in precedenza, non è possibile stabilire con 
                certezza il tempo necessario per accedere alla visita. 
            </p>
            <p>
                Per quanto gli infermieri e gli operatori di triage possano dirvi
                quante persone ci siano in lista prima di voi, non è possibile
                prevedere l'arrivo di casi più urgenti o il peggioramento delle
                condizioni cliniche di pazienti già presenti in Pronto Soccorso. 
            </p>

        </div>
    </ion-content>
</ion-view>