<ion-view title="Informazioni" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="informazioni-list13">
        <ion-item class="item item-divider">Accedere al Pronto Soccorso</ion-item>
        <ion-item class="item-icon-left" 
                  id="info-button-primadirivolgersi" 
                  ui-sref="info_primadirivolgersi">
            <i class="icon ion-ios-home"></i>Prima di rivolgersi al Pronto Soccorso
            
        </ion-item> 
        
        <ion-item class="item-icon-left" 
                  id="info-button-inattesa" 
                  ui-sref="info_inattesa">
            <i class="icon ion-clock"></i>Mentre si aspetta la visita
            
        </ion-item>  
        

        
        <ion-item class="item-icon-left" 
                  id="info-button-durantelavisita" 
                  ui-sref="info_durantelavisita">
            <i class="icon ion-ios-pulse-strong"></i>Durante la visita
            
        </ion-item>  
        
        <ion-item class="item-icon-left" 
                  id="info-button-finitalavisita" 
                  ui-sref="info_finitalavisita">
            <i class="icon ion-clipboard"></i>Alla fine della visita
            
        </ion-item>          
        <ion-item class="item item-divider">Contatti e informazioni utili</ion-item>
      <ion-item class="item-icon-left" 
                id="informazioni-list-item12" 
                ui-sref="assegnazioneCodici">
            <i class="icon ion-person"></i>Codici triage
      </ion-item>
      <ion-item class="item-icon-left" 
                id="informazioni-list-item14" 
                ui-sref="contatti">
            <i class="icon ion-ios-telephone"></i>Contatti
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>