<ion-view title="Alla fine della visita" id="info_finitalavisita">
    <ion-content 
        padding="true" 
        class="has-header" 
        style="font-size: larger; text-align: justify;">

        <div class="vademecum">
            <h3>Dimissione</h3>
            <p>
                Qualora il paziente verrà ritenuto dimissibile, il medico
                provvederà alla prescrizione delle terapie necessarie, o alla
                modifica della terapia assunta.
            </p>
            <p>
                In caso sia indicato o necessario, in fase di dimissione verranno
                rilasciati anche certificati per malattia (INPS, INAIL)
            </p>
            <p>
                Verrà consegnata una copia del Verbale di Pronto Soccorso, che 
                contiene una relazione della visita, i risultati degli esami
                di laboratorio, i referti degli esami radiologici ed i referti
                delle consulenze effettuate. 
            </p>
            <p>
                Le immagini degli esami radiologici non vengono rilasciati;
                possono essere richiesti presso l'apposito sportello. 
            </p>
            
            <h3>Appuntamenti ambulatoriali</h3>
            <p>
                A fine visita verranno prenotate, quando possibile, le visite o gli 
                accertamenti da effettuare in regime ambulatoriale. Per alcune
                specialità (cardiologia, chirurgia plastica, chirurgia vascolare, 
                chirurgia generale, radiologia) il medico può fornire direttamente
                un appuntamento presso gli ambulatori del Policlinico Casilino                
                
            </p>
            
            <p>
                In altri casi (chirurgia plastica, oculistica, ortopedia) in cui 
                non è necessaria l'osservazione in struttura ma è necessaria una
                rivalutazione specialistica a breve termine, verrà disposto il 
                <strong>rientro</strong> del paziente in Pronto Soccorso, 
            </p>
            
            <p>
                <strong class='vademecum-subtitle'>Servizio prenotazioni - ospedale amico</strong><br>
                Tramite il servizio prenotazioni, è inoltre possibile prenotare visite
                con prezzi equiparabili al ticket regionale.             
                Tali prestazioni <b>non vengono</b> effettuate in regime di 
                    convenzione con il Sistema Sanitario Nazionale
                <br>
                
                Per maggiori informazioni, consultare il sito
                <a href="#" 
                   class="badge badge-positive a-noline"
                   onclick="window.open(
                               'http://www.policlinicocasilino.it/?p=ospedale_amico', 
                               '_system', 
                               'location=yes')">
                    <i class='ion-android-globe'></i>&nbsp;http://www.policlinicocasilino.it</a>
                
            </p>

            <h3>Osservazione</h3>
            <p>Nel caso le condizioni cliniche di un paziente non siano ritenute
            adeguatamente stabili, il medico disporrà un periodo di osservazione,
            che potrà variare da poche ore fino a 3 giorni</p>
            
            <p>Durante il periodo di osservazione, possono essere ripetute analisi
            di laboratorio o esami strumentali, oppure possono essere somministrate
            delle terapie, in attesa di una miglior definizione del quadro clinico
            </p>
            
            <p>Solitamente, per pazienti che necessitano di un periodo di 
                osservazione più lungo di 72 ore, viene indicato il ricovero</p>
            
            
        
            <h3>Ricovero</h3>
            <p>Nel caso in cui le condizioni del paziente non rendano possibile
            il rientro a domicilio, verrà disposto il ricovero</p>
            <p>
                Nel caso in cui il Reparto di destinazione disponga di posto letto, 
                il paziente verrà trasferito dal Pronto Soccorso in Reparto.
            </p>
            <p>
                In mancanza di posto letto il medico provvederà a:
                <span class='vademecum-list'>
                    - Trasferire il paziente in Holding Area<br>
                    - Richiedere posto letto presso altri Ospedali

                </span>
            </p>
            
            <h3>Trasferimento presso altra struttura</h3>
            <p>
                L'indicazione al trasferimento presso altra struttura, può avvenire
                per due ragioni:
                <span class='vademecum-list'>
                    - Mancanza di specialità per il caso specifico (paziente
                    pediatrico con necessità di osservazione o ricovero, 
                    paziente con indicazione neurochirurgica o cardiochirurgica)
                    <br>
                    - Mancanza di reparto per la specialità necessaria al
                    paziente (ad esempio neurologia, chirurgia maxillo-facciale)
                    <br>
                    - In quei casi in cui l'attesa prevista per accedere al 
                    ricovero rischia di protrarsi eccessivamente
                    
                </span>
            </p>
            
            <h3>Holding Area</h3>
            <p>
                I pazienti per cui è stato indicato al ricovero, ma per cui non
                è ancora disponibile il posto letto in reparto, vengono trasferiti
                in Holding Area. 
            </p>
            <p>
                Le funzioni principali dell'Holding Area sono: 
                <span class='vademecum-list'>
                    - Proseguire le cure e le indagini iniziate dall'accettazione
                    <br>
                    - Stabilizzare e monitorare le condizioni dei pazienti in
                    attesa di posto letto
                    <br>
                    - Permettere ai pazienti di accedere al ricovero nel minor
                    tempo possibile
                </span>
            </p>
            
            <p> Per le specialità non presenti nell'Ospedale, e nei casi in cui 
                non ci sia un posto letto disponibile idoneo per le esigenze 
                del paziente, i medici dell'Holding Area, provvederanno a 
                cercare un posto letto presso un'altra struttura e, 
                appena trovato, il paziente verrà trasferito con ambulanza 
                messa a disposizione dal Policlinico Casilino.
            </p>
            <p>
                Quando si rende necessario il trasferimento presso altra 
                struttura per mancanza di posto letto, viene chiesto il 
                consenso del paziente. In caso di rifiuto del trasferimento, 
                il paziente verrà comunque assistito all'interno del 
                Policlinico Casilino, ma si ricorda che:
                
                <span class='vademecum-list'>
                    - L'attesa nei locali del Pronto Soccorso si prolungherà 
                    per un periodo non determinabile prolungando di 
                    conseguenza la permanenza complessiva in ospedale, 
                    questo perché l'invio nei Reparti di degenza avviene 
                    sulla base delle condizioni dei pazienti e non 
                    sull'ordine di arrivo. 
                    <br>
                    - Il permanere di pazienti in Pronto Soccorso, a seguito del 
                    rifiuto del trasferimento, aumenta le difficoltà del 
                    servizio nel fornire assistenza agli altri pazienti.                
                </span>
            </p>
        
        </div>
    </ion-content>
</ion-view>