<ion-view title="Durante la visita" id="info_durantelavisita">
  <ion-content 
      padding="true" 
      class="has-header" 
      style="font-size: larger; text-align: justify;">
      
      <div class="vademecum">
      <h3>Quanto tempo è necessario per i risultati delle analisi?</h3>
      <p>
          Mediamente il tempo per ottenere i risultati delle analisi è di 
          90 minuti dal momento del prelievo.
      </p>
      <p>
          In base ai risultati, il medico potrebbe, qualora lo ritenesse 
          opportuno, effettuare analisi aggiuntive sul campione inviato, o 
          effettuare nuovi prelievi.
      </p>
      <p>
          Per i pazienti che si presentano in Pronto Soccorso con dolore toracico, 
          è previsto uno specifico protocollo, per il quale i prelievi di 
          controllo potranno essere effettuati fino a 6 ore di distanza dal primo.
      </p>
      
      <!------------------------->
      
      <h3>In quanto tempo vengono effettuati gli esami radiologici?</h3>
      <p>
          La radiologia di Pronto Soccorso raccoglie le richieste di esami
          effettuate da tutti i box del Pronto Soccorso.
      </p>
      <p>
          Le richieste di esami radiologici vengono processate in base al codice
          di urgenza; pertanto, è possibile che esami con minor carattere di urgenza
          vengano effettuati più tardi di altri, indipendentemente dall'orario 
          della richiesta.
      </p>
      <p>
          Alcuni tipi di esame, come ad esempio l'ecografia, possono richiedere
          un periodo di preparazione (ad esempio il riempimento della vescica per 
          un'ecografia vescicale). Altre volte, prima di effettuare un'indagine
          radiologica, può essere necessaria la refertazione di esami di 
          laboratorio (ad esempio gli indici di funzionalità renale per gli esami 
          che prevedono la somministrazione di mezzo di contrasto).
      </p>
      
      <!------------------------->
      
      <h3>Come mai le consulenze specialistiche vengono effettuate in ritardo?</h3>
      <p>
          Per alcune specialità esiste un unico consulente per i reparti e per
          il Pronto Soccorso, che quindi potrebbe trovarsi in un altro 
          edificio.
      </p>
      <p>
          In ogni caso, le richieste di consulenza verranno evase in base 
          all'urgenza e alla gravità dei casi clinici da affrontare.
      </p>
      
      <!------------------------->
      
      <h3>Ci si può allontanare dal Pronto Soccorso durante la visita?</h3>
      <p>
          I <i>pazienti</i> non possono allontanarsi dal Pronto Soccorso finché
          non è stato concluso tutto il percorso diagnostico e terapeutico. 
      </p>
      <p>
         Gli accompagnatori possono allonanarsi dal Pronto Soccorso. In caso 
         di pazienti non completamente autosufficienti o non in grado di fornire
         informazioni, è possibile che sia necessaria la presenza di un parente
         o di un accompagnatore in sala visita
      </p>
      
      <!------------------------->
      
      <h3>Quando si può parlare con il medico?</h3>
      <p>
          Non ci sono orari prestabiliti per parlare con il medico. Quando il 
          medico avrà aggiornamenti importanti da comunicare, i parenti verranno
          contattati
          <span class="vademecum-list">
              
              - direttamente dal paziente<br>
              - tramite chiamata mediante gli altoparlanti del Pronto Soccorso<br>
              - telefonicamente, attraverso i numeri lasciati 
                al momento della registrazione
          </span>
      </p>
      
      <!------------------------->
      
      <h3>Come mai la persona che ho accompagnato non viene ancora dimessa?</h3>
      <p>
          I tempi per la dimissione sono legati agli accertamenti diagnostici
          o alle consulenze richieste. Terminato l'inquadramento e le terapie, 
          qualora il medico ritenga il paziente dimissibile, potrebbe dover 
          effettuare la prescrizione di terapie o di esami da effettuare 
          in regime ambulatoriale, oppure potrebbe dover compilare verbali o
          certificazioni. Inoltre, potrebbe dover affrontare urgenze di altri
          pazienti prima di dimettere la persona che avete accompagnato. 
      </p> 

      </div>
  </ion-content>
</ion-view>