<ion-view title="Prima di rivolgersi al PS" id="info_primadirivolgersi">
  <ion-content 
      padding="true" 
      class="has-header" 
      style="font-size: larger; text-align: justify;">
      
      <div class="vademecum">
      <h3>Quando presentarsi in Pronto Soccorso</h3>
      <p>
        <span class="vademecum-list">
            - Quando si pensa di essere in pericolo di vita imminente<br>
            - Per effettuare esami o terapie urgenti che, se non effettuati, 
            potrebbero mettere a rischio la propria vita<br>
            - Per traumi o sintomi comparsi improvvisamente, che interferiscono 
            con le normali attività quotidiane o lavorative<br>
            - Per prestazioni che non vengono erogate dal proprio Medico di 
            Medicina Generale, da strutture ambulatoriali, o dalla Guardia Medica
        </span>
      </p>
      <!------------------------->
      
      <h3 class="vademecum">Quando <strong>non</strong> presentarsi in Pronto Soccorso</h3>
      <p>
        <span class="vademecum-list">
              
            - Per scavalcare le liste d'attesa per esami non urgenti<br>
            - Per evitare di parlare con il proprio medico curante<br>
            - Se è possibile effettuare una visita presso il proprio Medico di 
            Medicina Generale, Pediatra di libera scelta, oppure è possibile 
            consultare la Guardia Medica<br>
            - Per ottenere impegnative per la prescrizione di farmaci o esami 
            diagnostici, oppure per ottenere certificazioni per il lavoro (INPS,
            INAIL, certificati di malattia)<br>
            - Per evitare di pagare il ticket per analisi di laboratorio o esami strumentali
        </span>
      </p>
      <!------------------------->
      
      <h3>Cosa portare in Pronto Soccorso</h3>
      <p>
          <span class="vademecum-list">
              - Tessera sanitaria<br>
              - Documento d'identità
          </span>
      </p>
      
      <p>
          <span class='vademecum-list'>
              Se la ricerca non fa perdere tempo utile per recarsi in Pronto Soccorso:<br>
              
            - Documentazione clinica relativa al problema per cui ci si rivolge 
            al Pronto Soccorso (cartelle cliniche, elettrocardiogrammi, 
            analisi recenti)<br>
            - Lista dei farmaci assunti
          </span>
      </p>
      
      <p>
        Indumenti per il ricovero (pigiami, vestaglie) non sono necessari finché
        non viene conclusa la visita e disposto il ricovero. Se si ha abbastanza 
        tempo, può essere utile indossare indumenti che facilitino la visita o 
        l'esecuzione di procedure (ad esempio tute da ginnastica, magliette)
      </p>

      <p>
          È consigliabile <strong>evitare</strong> di portare con sé 
          oggetti preziosi o grandi quantità di denaro.
      </p>
      
      
      <!------------------------->
      <h3>Servizi specialistici</h3>
      <p>
        <strong  class='vademecum-subtitle'>Pillola del giorno dopo</strong><br>
          
        Consiste nella somministrazione della specialità medicinale a base di 
        levonorgestrel (LNG) disponibile in Italia dall'anno 2000 a seguito di 
        decreto ministeriale che ne ha autorizzato la vendita (G.U.11-10-2000 
        serie generale n. 238:26-27). La donna che si reca al pronto soccorso 
        per richiedere la prescrizione della "pillola del giorno dopo" giunge 
        al triage, dove:
        <span class='vademecum-list'>
            - le viene assegnato un codice bianco<br> 
            - viene presa in carico dal ginecologo di guardia al Pronto Soccorso 
            (per la valutazione e l'informazione sui rischi legati 
            all'assunzione)<br>
            - al termine di questa fase il Ginecologo prescrive il medicinale 
            oppure, se invoca il diritto all'obiezione e rifiuta la prescrizione
            (Codice deontologico all'art. 19), si adopererà perché la prestazione 
            venga comunque erogata, sentendo altri ginecologi presenti in 
            ospedale, i medici di guardia in PS o, qualora non vi siano altre 
            possibilità, inviando la paziente, previo contatto telefonico, 
            presso un'altra struttura.                      
        </span>
      </p>
      
      <p>
          <strong class='vademecum-subtitle'>Problemi otorinolaringoiatrici</strong><br>
          Il Pronto Soccorso non dispone di uno specialista otorinolaringoiatra. 
          Per problemi otorinolaringoiatrici viene comunque effettuata la visita 
          dai medici presenti in Pronto Soccorso, che valuteranno l'opportunità 
          di richiedere consulenza otorinolaringoiatrica presso altri ospedali.
      </p>
      
      <p>
          <strong class='vademecum-subtitle'>Bambini fino a 30 giorni di vita</strong><br>
          
          Nell'ospedale è presente un reparto di neonatologia, per bambini fino 
          a 30 giorni di vita. In questi casi il medico di Pronto Soccorso 
          richiederà, se lo riterrà necessario, una valutazione del Neonatologo 
          in turno, che dovrà allontanarsi dal reparto. I tempi per effettuare 
          la valutazione neonatologia possono variare in base ad eventuali 
          urgenze nel reparto di Neonatologia. 
      </p>
      
      <p>
          <strong class='vademecum-subtitle'>Bambini con più di 30 giorni di vita</strong><br>
          
          È consigliabiìle rivolgersi al proprio Pediatra di libera scelta, 
          se disponibile. I medici in turno nel Pronto Soccorso effettueranno 
          comunque la visita, richiederanno analisi di laboratorio ed 
          effettueranno delle terapie se lo riterranno necessario. 
          <br>
          Nei casi in cui sarà necessario un periodo di osservazione o 
          un eventuale ricovero, verrà effettuato il trasferimento presso 
          ospedale pediatrico di riferimento (attualmente Ospedale Bambino Gesù), 
          tramite ambulanza.
      </p>

      </div>
  </ion-content>
</ion-view>