<ion-view title="Pagamento Codici Bianchi" id="page5">
  <ion-content padding="true" class="has-header" style="font-size: larger; text-align: justify;">
  Il pagamento delle prestazioni relative ai codici bianchi pu&ograve; essere effettuato con 
  diverse modalit&agrave; <br>
	<h3>CUP del Policlinico Casilino</h3>
	<ul>
		<li>Dal luned&igrave; al venerd&igrave; dalle 8.00 alle 18.00</li>
		<li>Il sabato dalle 8.00 alle 12.00</li>
	</ul>
	
	<h3>Uffici Postali</h3>
	Con c/c postale n&#176; 78167798 pari a &euro; 25,00
  </ion-content>
</ion-view>